html:not(#easyapp) body:not(#easyapp).easyContrasteEscuro,
html:not(#easyapp) body:not(#easyapp).easyContrasteEscuro>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).easyContrasteEscuro>:not(#easyapp) *:not(img):not(video) {
  color: White;
  background-color: Black;

  a {
    outline: 1px dashed Gold;
  }
}

html:not(#easyapp) body:not(#easyapp).easyContrasteClaro,
html:not(#easyapp) body:not(#easyapp).easyContrasteClaro>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).easyContrasteClaro>:not(#easyapp) *:not(img):not(video) {
  color: black;
  background-color: white;

  a {
    outline: 1px dashed midnightblue;
  }
}

  #contrasteEscuro {
    border-top: 1px solid #ffffff !important;
    background: #000000 !important;
    color: #ffffff !important;
  }
  
  #altoContraste .white {
    background: white;
    color: #000000;
  }
  #altoContraste .row-collors.black {
    background: black;
    color: white;
  }
  #altoContraste .row-collors.red {
    background: darkred !important;
    color: white;
  }
  #altoContraste .row-collors.blue {
    background: darkblue !important;
    color: white;
  }
  #altoContraste .row-collors.green {
    background: darkgreen !important;
    color: white;
  }