html:not(#easyapp) body:not(#easyapp).fundo-red,
html:not(#easyapp) body:not(#easyapp).fundo-red>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-red>:not(#easyapp) *:not(img):not(video) {
    background-color: #e4111c;  
}

html:not(#easyapp) body:not(#easyapp).fundo-blue,
html:not(#easyapp) body:not(#easyapp).fundo-blue>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-blue>:not(#easyapp) *:not(img):not(video) {
    background-color: #06a1dd;  
}

html:not(#easyapp) body:not(#easyapp).fundo-yellow,
html:not(#easyapp) body:not(#easyapp).fundo-yellow>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-yellow>:not(#easyapp) *:not(img):not(video) {
    background-color: #feef16;  
}

html:not(#easyapp) body:not(#easyapp).fundo-pink,
html:not(#easyapp) body:not(#easyapp).fundo-pink>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-pink>:not(#easyapp) *:not(img):not(video) {
    background-color: #e40d7d;  
}

html:not(#easyapp) body:not(#easyapp).fundo-black,
html:not(#easyapp) body:not(#easyapp).fundo-black>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-black>:not(#easyapp) *:not(img):not(video) {
    background-color: #000000;  
}

html:not(#easyapp) body:not(#easyapp).fundo-green,
html:not(#easyapp) body:not(#easyapp).fundo-green>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-green>:not(#easyapp) *:not(img):not(video) {
    background-color: #17963e;  
}

html:not(#easyapp) body:not(#easyapp).fundo-purple,
html:not(#easyapp) body:not(#easyapp).fundo-purple>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-purple>:not(#easyapp) *:not(img):not(video) {
    background-color: #312582;  
}

html:not(#easyapp) body:not(#easyapp).fundo-white,
html:not(#easyapp) body:not(#easyapp).fundo-white>:not(#easyapp),
html:not(#easyapp) body:not(#easyapp).fundo-white>:not(#easyapp) *:not(img):not(video) {
    background-color: #ffffff;  
}
