.accessibilityTootipBox {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    color: transparent;
    font-size: 1rem;
    white-space: pre-wrap;
    padding: 10px;
    line-height: 1 !important;
    width: auto;
    max-width: 50%;
    border-radius: 3px;
    max-height: auto;
    z-index: 45454564;
    overflow: auto;
}