/* BEGIN CORRIGIR O BODY */
* {
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden !important;
}

.easy_aberto {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.easy_basic_color {
  color: #0f4e64;
  fill: #0f4e64;
}

.easy_disabled_color {
  color: #cccccc !important;
  fill: #cccccc !important;
}

.bg_easy {
  background-color: #0f4e64 !important;
  color: #fff;

  svg {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    -moz-filter: brightness(0) invert(1);
    -ms-filter: brightness(0) invert(1);
    -o-filter: brightness(0) invert(1);
  }
}

.margem_20 {
  margin: 20px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_20 {
  margin-bottom: 16px;
}
/* END CORRIGIR O BODY */

/* BEGIN EASY NAVIGATOR */
#nav_easy {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: 400;
  height: calc(100vh - 40px);
  width: 460px;
  max-width: 460px;
  left: -480px;
  /* left: 0; */
  top: 20px;
  box-shadow: 4px 0 20px -1px rgba(0, 0, 0, 0.2), 0 4px 4px -1px rgba(0, 0, 0, 0.1) !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
  border-radius: 30px;
  z-index: 9;
  border: 2px rgba(15, 78, 100, 0.2) solid;

  &::-webkit-scrollbar {
    display:none;
  }
}

/* BEGIN ICONE E BOTÃO EASY */
#icone_easy {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  &:hover {
    margin-left: 161px;
  }
}

#botao_easy {
  position: fixed;
  width: 143px;
  height: 56px;
  padding: 0px;
  left: -81px;
  margin-left: 0px !important;
  top: 50% !important;
  margin-top: -30px !important;
  z-index: 8;
  text-rendering: geometricPrecision !important;
  filter: drop-shadow(0px 5px 20px rgb(0, 0, 0, 0.2));
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
/* END ICONE E BOTÃO EASY */

/* BEGIN TOPO FIXO */
#botao_fechar_easy {
  &:hover{
    box-sizing: border-box;
    border: none;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><title>Fechar ferramenta Easy</title><g fill='none' fill-rule='evenodd'><g fill='%230F4E64' fill-rule='nonzero'><path d='m16 0c8.848 0 16 7.152 16 16s-7.152 16-16 16-16-7.152-16-16 7.152-16 16-16m5.744 8-5.744 5.744-5.744-5.744-2.256 2.256 5.744 5.744-5.744 5.744 2.256 2.256 5.744-5.744 5.744 5.744 2.256-2.256-5.744-5.744 5.744-5.744-2.256-2.256z'/></g></g></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
  }
}

.bloco_topo__fixo {
  height: 52px;
  background-color: #f6f6f6;

  select {
    padding-left: 7px;
    color: #000000;

    &:focus {
      outline: none !important;
    }
  }
}

#idiomas {
  width: 100%;
  height: 32px;
  border: 1px #0f4e64 solid;
  border-radius: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%230F4E64' height='32' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M0,0 L26,0 C29.3137085,-6.08718376e-16 32,2.6862915 32,6 L32,26 C32,29.3137085 29.3137085,32 26,32 L0,32 L0,32 L0,0 Z M8,12.8 L16,20.8 L24,12.8 L8,12.8 Z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: contain;
  background-origin: border-box;
  margin-top: 20px;
  margin-left: 20px;
}

#botao_fechar_easy {
  box-sizing: border-box;
  border: none;
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><title>Fechar ferramenta Easy</title><g fill='none' fill-rule='evenodd'><g fill='%23000' fill-rule='nonzero'><path d='m16 0c8.848 0 16 7.152 16 16s-7.152 16-16 16-16-7.152-16-16 7.152-16 16-16m5.744 8-5.744 5.744-5.744-5.744-2.256 2.256 5.744 5.744-5.744 5.744 2.256 2.256 5.744-5.744 5.744 5.744 2.256-2.256-5.744-5.744 5.744-5.744-2.256-2.256z'/></g></g></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  margin-top: 20px;
  margin-right: 22px;
}
/* END TOPO FIXO */

#scroll_wrapper {
  height: calc(100% - 88px);
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 0;
}

.bloco_fundo__fixo {
  height: 20px;
  background-color: #f6f6f6;
  position: relative;
}

/* BEGIN CORRIGE TIPO DE LETRA */
.easy_inside_btns_big span,
.easy_inside_btns_small span,
.bloco_topo__fixo select,
.titulo_nav,
.sub_titulo_nav {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px !important;
}

.titulo_nav {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.redefinir,
.sub_titulo_nav {
  font-size: 16px;
  height: 20px;
}
/* END CORRIGE TIPO DE LETRA */

/* BEGIN DETAILS */
.redefinir,
.redefinir_svg {
  height: 24px;
}
#idiomas,
#botao_fechar_easy,
#botao_easy,
.easy_inside_btns_big:hover,
.easy_inside_btns_small:hover,
.barra_fundo img,
.nav_intermedio-ajuste_de_fontes img,
.mais,
.menos,
.color_box,
.desativa_config,
.redefinir_svg,
.sat_plus,
.sat_less,
.trazzo,
[type="range"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.forbidden {
  -webkit-user-select: not-allowed;
  -moz-user-select: not-allowed;
  -ms-user-select: not-allowed;
  user-select: not-allowed;
  cursor: not-allowed;
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
}
.easy_inside_btns_big svg,
.easy_inside_btns_small svg,
#botao_fechar_easy svg,
#idiomas select,
.nav_fundo-copy img,
.menos img,
.mais img,
.menos:hover img,
.mais:hover img {
  text-rendering: geometricPrecision !important;
}
/* END DETAILS */

/* BEGIN GRID BIG DESKTOP */
.bloco_intermedio__ajuste_conteudo {
  width: 416px;
}

.bloco_intermedio__ajuste_voz_navegacao,
.bloco_intermedio__ajuste_rato,
.bloco_intermedio__ajuste_cor,
.bloco_intermedio__ajuste_fontes,
.bloco_intermedio__ajuste_cor_personalizada,
.barra_fundo {
  width: 416px;
  margin-bottom: 20px;
}

.barra_fundo {
  margin-bottom: 0;
}

.grid_big_1,
.grid_big_2,
.grid_big_3 {
  position: relative;
  width: 133px;
  height: 110px;
  overflow: hidden;
  z-index: 9;
}

.easy_inside_btns_big {
  position: absolute;
  height: 110px;
  width: 133px;
  background-color: #ffffff;
  border: 2px rgba(15, 78, 100, 0.2) solid;
  border-radius: 20px;

  &:nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
    background-color: red;
  }

  &:hover {
    border: 2px rgba(15, 78, 100, 1) solid;
  }
}

#controlo_rato,
#controlo_cor,
#controlo_cor_mb {
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 16px;
}

.vazio:nth-child(n) {
  background-color: transparent;
  border: none;
}
.vazio:nth-child(2) {
  border-left: 2px rgba(15, 78, 100, 0.2) solid;
}

.easy_inside_btns_big svg {
  height: 32px;
  width: 28px;
}
.easy_inside_btns_small span,
.easy_inside_btns_big span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  height: 28px;
	padding: 8px;
}
/* END GRID BIG DESKTOP */

/* BEGIN GRID RATO */
.grid_small_ponteiro,
.grid_small_cor {
  position: relative;
  width: calc(100% / 3);
  height: 40px;
  overflow: hidden;
  z-index: 9;
}

.easy_inside_btns_small {
  height: 40px;
  border-radius: 20px;
}

.easy_inside_btns_small:hover {
  background-color: #0f4e64;
  color: #ffffff;
}
/* END GRID RATO */

