* {
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-x: hidden !important;
}
.easy_aberto {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.easy_basic_color {
  color: #0f4e64;
  fill: #0f4e64;
}
.easy_disabled_color {
  color: #cccccc !important;
  fill: #cccccc !important;
}
.bg_easy {
  background-color: #0f4e64 !important;
  color: #fff;
}
.bg_easy svg {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  -moz-filter: brightness(0) invert(1);
  -ms-filter: brightness(0) invert(1);
  -o-filter: brightness(0) invert(1);
}
.margem_20 {
  margin: 20px;
}
.mb_16 {
  margin-bottom: 16px;
}
.mb_20 {
  margin-bottom: 16px;
}
/* END CORRIGIR O BODY */
/* BEGIN EASY NAVIGATOR */
#nav_easy::-webkit-scrollbar {
  display: none;
}
#nav_easy {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: 400;
  height: calc(100vh - 40px);
  width: 450px;
  max-width: 450px;
   left: -480px; 
  /*left: 0px;*/
  top: 20px;
  box-shadow: 4px 0 20px -1px rgba(0, 0, 0, 0.2), 0 4px 4px -1px rgba(0, 0, 0, 0.1) !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
  border-radius: 30px;
  z-index: 9;
}
/*
BEGIN ICONE E BOTÃO EASY
*/

#botao_easy:hover {
  margin-left: -58px;
}
#botao_easy {
  position: fixed;
  margin-left: -134px;
  margin-top: -20px !important;
  top: 50% !important;
  width: 200px;
  height: 56px;
  z-index: 1;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 375 220' xmlns='http://www.w3.org/2000/svg'><defs><filter id='a' x='0' y='0' width='375' height='220' filterUnits='userSpaceOnUse'><feOffset dy='1' input='SourceAlpha'/><feGaussianBlur result='b' stdDeviation='20'/><feFlood flood-opacity='.196'/><feComposite in2='b' operator='in'/><feComposite in='SourceGraphic'/></filter></defs><g transform='translate(60 59)'><g transform='translate(-60 -59)' filter='url(%23a)'><path transform='translate(60 59)' d='m0 0h209a46 46 0 0 1 46 46v8a46 46 0 0 1-46 46h-209v-100z' fill='%230f4e64'/></g><g transform='translate(24 25)' fill='%23fff'><path transform='translate(.727 .914)' d='M13.875,17.063H10.359L3.516,5.836V17.063H0V0H3.516l6.855,11.25V0h3.5Z'/><path transform='translate(16.945 5.063)' d='M4.313,13.148A4.52,4.52,0,0,1,1.225,12.07,3.48,3.48,0,0,1,0,9.352,3.6,3.6,0,0,1,1.494,6.258a7.413,7.413,0,0,1,4.318-1.09H7.371V4.442A2.1,2.1,0,0,0,6.92,3.035,1.783,1.783,0,0,0,5.5,2.507a2.025,2.025,0,0,0-1.342.41,1.4,1.4,0,0,0-.486,1.125H.281A3.412,3.412,0,0,1,.961,2,4.507,4.507,0,0,1,2.883.533,7.035,7.035,0,0,1,5.672,0,5.556,5.556,0,0,1,9.392,1.178a4.136,4.136,0,0,1,1.377,3.31v5.5a6.093,6.093,0,0,0,.5,2.731v.2H7.852a3.771,3.771,0,0,1-.34-1.137A4.113,4.113,0,0,1,4.313,13.148Zm1.793-6c-1.687,0-2.6.591-2.707,1.758l-.012.2a1.362,1.362,0,0,0,.446,1.043,1.737,1.737,0,0,0,1.219.41,2.929,2.929,0,0,0,1.382-.334,2.212,2.212,0,0,0,.938-.9V7.149Z'/><path transform='translate(28.992 5.297)' d='M5.895,8.543,8.25,0h3.539L7.512,12.68H4.277L0,0H3.539Z'/><path transform='translate(41.66 5.063)' d='M6.293,13.148a6.247,6.247,0,0,1-4.541-1.711A6.106,6.106,0,0,1,0,6.879V6.551A7.7,7.7,0,0,1,.738,3.135,5.442,5.442,0,0,1,2.831.814,5.9,5.9,0,0,1,5.918,0a5.283,5.283,0,0,1,4.095,1.641,6.694,6.694,0,0,1,1.494,4.652V7.676H3.434a3.16,3.16,0,0,0,.99,1.992,3.006,3.006,0,0,0,2.093.751A3.671,3.671,0,0,0,9.574,9l1.664,1.863a5.1,5.1,0,0,1-2.063,1.682A6.8,6.8,0,0,1,6.293,13.148ZM5.906,2.742a2.132,2.132,0,0,0-1.634.679,3.531,3.531,0,0,0-.8,1.946H8.18V5.1a2.519,2.519,0,0,0-.61-1.741A2.2,2.2,0,0,0,5.906,2.742Z'/><path transform='translate(54.598 5.063)' d='M5.5,17.906a6.976,6.976,0,0,1-2.719-.557,4.849,4.849,0,0,1-2-1.436l1.5-2.062a3.985,3.985,0,0,0,3.07,1.418,2.915,2.915,0,0,0,2.1-.721A2.711,2.711,0,0,0,8.192,12.5v-.679a3.935,3.935,0,0,1-3.082,1.324,4.508,4.508,0,0,1-3.7-1.786A7.463,7.463,0,0,1,0,6.621v-.14a7.466,7.466,0,0,1,1.389-4.7A4.52,4.52,0,0,1,5.133,0,3.962,3.962,0,0,1,8.379,1.43l.14-1.2H11.59V12.492a5.441,5.441,0,0,1-.756,2.894,4.879,4.879,0,0,1-2.128,1.876A7.512,7.512,0,0,1,5.5,17.906ZM6,2.754a2.222,2.222,0,0,0-1.916,1,5.222,5.222,0,0,0-.7,2.976,4.637,4.637,0,0,0,.691,2.7,2.209,2.209,0,0,0,1.9.978,2.362,2.362,0,0,0,2.215-1.16V3.914A2.358,2.358,0,0,0,6,2.754Z'/><path transform='translate(68.285 5.063)' d='M4.313,13.148A4.52,4.52,0,0,1,1.225,12.07,3.48,3.48,0,0,1,0,9.352,3.6,3.6,0,0,1,1.494,6.258a7.413,7.413,0,0,1,4.318-1.09H7.371V4.442A2.1,2.1,0,0,0,6.92,3.035,1.783,1.783,0,0,0,5.5,2.507a2.025,2.025,0,0,0-1.342.41,1.4,1.4,0,0,0-.486,1.125H.281A3.412,3.412,0,0,1,.961,2,4.507,4.507,0,0,1,2.883.533,7.035,7.035,0,0,1,5.672,0,5.556,5.556,0,0,1,9.392,1.178a4.136,4.136,0,0,1,1.377,3.31v5.5a6.093,6.093,0,0,0,.5,2.731v.2H7.852a3.771,3.771,0,0,1-.34-1.137A4.113,4.113,0,0,1,4.313,13.148Zm1.793-6c-1.687,0-2.6.591-2.707,1.758l-.012.2a1.362,1.362,0,0,0,.446,1.043,1.737,1.737,0,0,0,1.219.41,2.929,2.929,0,0,0,1.382-.334,2.212,2.212,0,0,0,.938-.9V7.149Z'/><path transform='translate(81.129 5.063)' d='M4.571,18.34h0l-.082-1.957h.005c.867,0,1.307-.319,1.307-.948a.676.676,0,0,0-.392-.673,3.871,3.871,0,0,0-1.272-.24l.326-1.5a5.149,5.149,0,0,1-2.891-1.6A6.873,6.873,0,0,1,0,6.645V6.421A6.791,6.791,0,0,1,1.559,1.746,5.463,5.463,0,0,1,5.836,0,5.358,5.358,0,0,1,9.651,1.354a4.818,4.818,0,0,1,1.459,3.6H7.934a2.317,2.317,0,0,0-.609-1.6,2.048,2.048,0,0,0-1.547-.615A2.048,2.048,0,0,0,3.991,3.6a5.008,5.008,0,0,0-.6,2.795V6.75a5.072,5.072,0,0,0,.6,2.813,2.075,2.075,0,0,0,1.816.856A2.231,2.231,0,0,0,7.324,9.9a1.814,1.814,0,0,0,.609-1.372H11.11a4.36,4.36,0,0,1-.7,2.362,4.668,4.668,0,0,1-1.892,1.664,5.683,5.683,0,0,1-1.521.495h0l.039-.206H4.5l-.038.176a7.29,7.29,0,0,0,1.4.129,6.534,6.534,0,0,0,1.132-.1l-.089.472A1.892,1.892,0,0,1,8.66,15.551,2.37,2.37,0,0,1,7.588,17.59,5.231,5.231,0,0,1,4.571,18.34Z'/><path transform='translate(93.668)' d='M4.313,18.211a4.52,4.52,0,0,1-3.088-1.078A3.48,3.48,0,0,1,0,14.414,3.6,3.6,0,0,1,1.494,11.32a7.413,7.413,0,0,1,4.318-1.09H7.371V9.5A2.1,2.1,0,0,0,6.92,8.1,1.783,1.783,0,0,0,5.5,7.57a2.025,2.025,0,0,0-1.342.41,1.4,1.4,0,0,0-.486,1.125H.281a3.412,3.412,0,0,1,.68-2.038A4.507,4.507,0,0,1,2.883,5.6a7.035,7.035,0,0,1,2.789-.533A5.556,5.556,0,0,1,9.392,6.241a4.136,4.136,0,0,1,1.377,3.31v5.5a6.093,6.093,0,0,0,.5,2.731v.2H7.852a3.771,3.771,0,0,1-.34-1.137A4.113,4.113,0,0,1,4.313,18.211Zm1.793-6c-1.687,0-2.6.591-2.707,1.758l-.012.2a1.362,1.362,0,0,0,.446,1.043,1.737,1.737,0,0,0,1.219.41,2.929,2.929,0,0,0,1.382-.334,2.212,2.212,0,0,0,.938-.9v-2.18ZM3.211,3.363h0L1.242,3.246A3.342,3.342,0,0,1,2.01,1.031,2.379,2.379,0,0,1,3.891.117a2.436,2.436,0,0,1,.662.088A7.286,7.286,0,0,1,5.567.633a6.6,6.6,0,0,0,.973.41,2.227,2.227,0,0,0,.563.07A.99.99,0,0,0,7.81.826,1.1,1.1,0,0,0,8.109,0l1.958.129A3.3,3.3,0,0,1,9.293,2.35a2.413,2.413,0,0,1-1.887.9,2.867,2.867,0,0,1-.791-.1,5.331,5.331,0,0,1-.955-.428,5.122,5.122,0,0,0-.879-.4,2.132,2.132,0,0,0-.586-.076.941.941,0,0,0-.7.293,1.146,1.146,0,0,0-.287.831Z'/><path transform='translate(106.51 5.063)' d='M6.012,13.148A5.716,5.716,0,0,1,1.634,11.39,6.772,6.772,0,0,1,0,6.61V6.457A7.558,7.558,0,0,1,.726,3.093,5.342,5.342,0,0,1,2.819.808,6.129,6.129,0,0,1,5.989,0a5.8,5.8,0,0,1,4.19,1.57,6.33,6.33,0,0,1,1.81,4.265l.023.868a6.657,6.657,0,0,1-1.629,4.682A5.685,5.685,0,0,1,6.012,13.148ZM5.989,2.742a2.223,2.223,0,0,0-1.922.967A5.287,5.287,0,0,0,3.387,6.7a4.749,4.749,0,0,0,.68,2.759,2.254,2.254,0,0,0,1.946.956,2.257,2.257,0,0,0,1.922-.944,5.2,5.2,0,0,0,.691-3.018,4.7,4.7,0,0,0-.691-2.741A2.256,2.256,0,0,0,5.989,2.742Z'/><path transform='translate(0 33.063)' d='M4.313,13.148A4.52,4.52,0,0,1,1.225,12.07,3.48,3.48,0,0,1,0,9.352,3.6,3.6,0,0,1,1.494,6.258a7.413,7.413,0,0,1,4.318-1.09H7.371V4.442A2.1,2.1,0,0,0,6.92,3.035,1.783,1.783,0,0,0,5.5,2.507a2.025,2.025,0,0,0-1.342.41,1.4,1.4,0,0,0-.486,1.125H.281A3.412,3.412,0,0,1,.961,2,4.507,4.507,0,0,1,2.883.533,7.035,7.035,0,0,1,5.672,0,5.556,5.556,0,0,1,9.392,1.178a4.136,4.136,0,0,1,1.377,3.31v5.5a6.093,6.093,0,0,0,.5,2.731v.2H7.852a3.771,3.771,0,0,1-.34-1.137A4.113,4.113,0,0,1,4.313,13.148Zm1.793-6c-1.687,0-2.6.591-2.707,1.758l-.012.2a1.362,1.362,0,0,0,.446,1.043,1.737,1.737,0,0,0,1.219.41,2.929,2.929,0,0,0,1.382-.334,2.212,2.212,0,0,0,.938-.9V7.149Z'/><path transform='translate(13.371 33.063)' d='M3.176.234l.105,1.418A4.456,4.456,0,0,1,6.926,0a3.382,3.382,0,0,1,3.363,1.934A4.354,4.354,0,0,1,14.1,0a3.782,3.782,0,0,1,3.07,1.2,5.521,5.521,0,0,1,1.008,3.615v8.1h-3.4V4.828a2.414,2.414,0,0,0-.422-1.576,1.87,1.87,0,0,0-1.488-.5,2.114,2.114,0,0,0-2.109,1.453l.012,8.707H7.383V4.84a2.385,2.385,0,0,0-.434-1.594,1.888,1.888,0,0,0-1.477-.492,2.195,2.195,0,0,0-2.086,1.2v8.965H0V.234Z'/><path transform='translate(34.125 28.27)' d='M3.6,17.707H.2V5.027H3.6V17.706ZM1.9,3.5A1.933,1.933,0,0,1,.521,3.011,1.669,1.669,0,0,1,0,1.746,1.675,1.675,0,0,1,.509.492,1.923,1.923,0,0,1,1.9,0,1.927,1.927,0,0,1,3.281.492,1.663,1.663,0,0,1,3.8,1.746a1.666,1.666,0,0,1-.522,1.265A1.93,1.93,0,0,1,1.9,3.5Z'/><path transform='translate(40.02 33.063)' d='M5.5,17.906a6.976,6.976,0,0,1-2.719-.557,4.849,4.849,0,0,1-2-1.436l1.5-2.062a3.985,3.985,0,0,0,3.07,1.418,2.915,2.915,0,0,0,2.1-.721A2.711,2.711,0,0,0,8.192,12.5v-.679a3.935,3.935,0,0,1-3.082,1.324,4.508,4.508,0,0,1-3.7-1.786A7.463,7.463,0,0,1,0,6.621v-.14a7.466,7.466,0,0,1,1.389-4.7A4.52,4.52,0,0,1,5.133,0,3.962,3.962,0,0,1,8.379,1.43l.14-1.2H11.59V12.492a5.441,5.441,0,0,1-.756,2.894,4.879,4.879,0,0,1-2.128,1.876A7.512,7.512,0,0,1,5.5,17.906ZM6,2.754a2.222,2.222,0,0,0-1.916,1,5.222,5.222,0,0,0-.7,2.976,4.637,4.637,0,0,0,.691,2.7,2.209,2.209,0,0,0,1.9.978,2.362,2.362,0,0,0,2.215-1.16V3.914A2.358,2.358,0,0,0,6,2.754Z'/><path transform='translate(53.707 33.063)' d='M4.313,13.148A4.52,4.52,0,0,1,1.225,12.07,3.48,3.48,0,0,1,0,9.352,3.6,3.6,0,0,1,1.494,6.258a7.413,7.413,0,0,1,4.318-1.09H7.371V4.442A2.1,2.1,0,0,0,6.92,3.035,1.783,1.783,0,0,0,5.5,2.507a2.025,2.025,0,0,0-1.342.41,1.4,1.4,0,0,0-.486,1.125H.281A3.412,3.412,0,0,1,.961,2,4.507,4.507,0,0,1,2.883.533,7.035,7.035,0,0,1,5.672,0,5.556,5.556,0,0,1,9.392,1.178a4.136,4.136,0,0,1,1.377,3.31v5.5a6.093,6.093,0,0,0,.5,2.731v.2H7.852a3.771,3.771,0,0,1-.34-1.137A4.113,4.113,0,0,1,4.313,13.148Zm1.793-6c-1.687,0-2.6.591-2.707,1.758l-.012.2a1.362,1.362,0,0,0,.446,1.043,1.737,1.737,0,0,0,1.219.41,2.929,2.929,0,0,0,1.382-.334,2.212,2.212,0,0,0,.938-.9V7.149Z'/><path transform='translate(65.754 33.297)' d='M5.895,8.543,8.25,0h3.539L7.512,12.68H4.277L0,0H3.539Z'/><path transform='translate(78.422 33.063)' d='M6.293,13.148a6.247,6.247,0,0,1-4.541-1.711A6.106,6.106,0,0,1,0,6.879V6.551A7.7,7.7,0,0,1,.738,3.135,5.442,5.442,0,0,1,2.831.814,5.9,5.9,0,0,1,5.918,0a5.283,5.283,0,0,1,4.095,1.641,6.694,6.694,0,0,1,1.494,4.652V7.676H3.434a3.16,3.16,0,0,0,.99,1.992,3.006,3.006,0,0,0,2.093.751A3.671,3.671,0,0,0,9.574,9l1.664,1.863a5.1,5.1,0,0,1-2.063,1.682A6.8,6.8,0,0,1,6.293,13.148ZM5.906,2.742a2.132,2.132,0,0,0-1.634.679,3.531,3.531,0,0,0-.8,1.946H8.18V5.1a2.519,2.519,0,0,0-.61-1.741A2.2,2.2,0,0,0,5.906,2.742Z'/><path transform='translate(92.027 27.977)' d='M3.4,18H0V0H3.4Z'/></g><g transform='translate(167 18)'><path d='M32,64a32,32,0,1,1-.051-64H32a32,32,0,1,1,0,64ZM31.955,5.19a26.768,26.768,0,1,0,2.666.133C33.739,5.235,32.842,5.191,31.955,5.19Zm7.973,48.028a2.627,2.627,0,0,1-1.107-.246A2.572,2.572,0,0,1,37.479,51.5L32.8,38.649l-.521-.952-.52.926h.026L27.128,51.5a2.569,2.569,0,0,1-1.344,1.473,2.6,2.6,0,0,1-2.862-.437,2.6,2.6,0,0,1-.688-2.812l3.249-9a13.794,13.794,0,0,0,.609-2.083,21.149,21.149,0,0,0,.281-2.176c.108-1.138.2-2.484.282-4.113.069-1.39.116-2.758.15-3.8.047-1.371-.323-1.458-1.421-1.718l-.229-.052-9.373-1.766a2.595,2.595,0,1,1,.948-5.1l10.07,1.89c.33.03.648.067.986.106l.217.025a30.147,30.147,0,0,0,3.739.275,42.343,42.343,0,0,0,4.655-.348l.469-.054c.3-.036.592-.07.884-.1l9.5-1.781a2.6,2.6,0,1,1,.958,5.1l-9.08,1.707c-.263.059-.521.108-.813.151-.943.16-1.416.241-1.359,1.593.039.9.143,2.007.318,3.39s.406,2.885.672,4.373a21.026,21.026,0,0,0,.52,2.369l.075.257.011.038c.181.618.368,1.257.637,2.006l3.182,8.8a2.6,2.6,0,0,1-2.445,3.5ZM31.995,19.952a4.6,4.6,0,0,1-3.252-7.846,4.578,4.578,0,0,1,3.241-1.349h.007A4.6,4.6,0,0,1,33.757,19.6,4.568,4.568,0,0,1,31.995,19.952Z' fill='%23fff'/></g></g></svg>");
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  text-rendering: geometricPrecision !important;
  filter: drop-shadow(0px 5px 20px rgb(0, 0, 0, 0.2));
}

#botao_easy_second {
  position: fixed;
  margin-left: 450px;
  margin-top: -20px !important;
  width: 56px;
  height: 76px;
  z-index: 99999;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 56.001 76' xmlns='http://www.w3.org/2000/svg'><defs><clipPath id='a'><path d='M0,0H56V76H0Z' fill='none'/></clipPath></defs><g transform='translate(-.5)'><path transform='translate(0 20)' d='m0.5 36z' fill='%230f4e64'/><g transform='translate(.501)'><path d='M0,0H56V76H0Z' fill='none'/><g clip-path='url(%23a)'><path transform='translate(0)' d='M0,0A10,10,0,0,0,9.93,10H30.24A25.76,25.76,0,0,1,56,35.76v4.48A25.76,25.76,0,0,1,30.24,66H10A10,10,0,0,0,0,76' fill='%230f4e64'/></g></g></g></svg>");
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  text-rendering: geometricPrecision !important;
  filter: drop-shadow(0px 5px 20px rgb(0, 0, 0, 0.2));
}

#botao_fechar_easy:hover {
  box-sizing: border-box;
  border: none;
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><title>Fechar ferramenta Easy</title><g fill='none' fill-rule='evenodd'><g fill='%230F4E64' fill-rule='nonzero'><path d='m16 0c8.848 0 16 7.152 16 16s-7.152 16-16 16-16-7.152-16-16 7.152-16 16-16m5.744 8-5.744 5.744-5.744-5.744-2.256 2.256 5.744 5.744-5.744 5.744 2.256 2.256 5.744-5.744 5.744 5.744 2.256-2.256-5.744-5.744 5.744-5.744-2.256-2.256z'/></g></g></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}
.bloco_topo__fixo {
  height: 52px;
  background-color: #f6f6f6;
}
.bloco_topo__fixo select {
  padding-left: 7px;
  color: #000000;
}
.bloco_topo__fixo select:focus {
  outline: none !important;
}
#idiomas {
  width: 100%;
  height: 32px;
  border: 1px #0f4e64 solid;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%230F4E64' height='32' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M0,0 L26,0 C29.3137085,-6.08718376e-16 32,2.6862915 32,6 L32,26 C32,29.3137085 29.3137085,32 26,32 L0,32 L0,32 L0,0 Z M8,12.8 L16,20.8 L24,12.8 L8,12.8 Z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: contain;
  background-origin: border-box;
  margin-top: 20px;
  margin-left: 20px;
}
#botao_fechar_easy {
  box-sizing: border-box;
  border: none;
  width: 32px;
  height: 32px;
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><title>Fechar ferramenta Easy</title><g fill='none' fill-rule='evenodd'><g fill='%23BEBEBE' fill-rule='nonzero'><path d='m16 0c8.848 0 16 7.152 16 16s-7.152 16-16 16-16-7.152-16-16 7.152-16 16-16m5.744 8-5.744 5.744-5.744-5.744-2.256 2.256 5.744 5.744-5.744 5.744 2.256 2.256 5.744-5.744 5.744 5.744 2.256-2.256-5.744-5.744 5.744-5.744-2.256-2.256z'/></g></g></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  margin-top: 20px;
  margin-right: 22px;
}

#scroll_wrapper {
  height: calc(100% - 88px);
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 0;
}

.bloco_fundo__fixo {
  height: 20px;
  background-color: #f6f6f6;
  position: relative;
}