#easyapp {
    position: absolute;
	margin: 0;
	padding: 1rem;
	border: 0;
	font-size: 1rem;
    color: #000;
    @import "~bootstrap/scss/bootstrap-reboot";
    @import "~bootstrap/scss/bootstrap";
    @import 'easy';
    @import 'easy-media-queries';
}

@import 'leitor-texto';
@import "colorAdjustment";
@import "ponteiro-rato";
@import "cor-fundo";