body {
  position: static !important;
  top: 0 !important;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  float: left;
}

ul {
  width: 250px;
}

button {
  color: #fff;
  background: #000;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 5px;
  border: none;
}

button:focus {
  color: black;
  background: white;
}

#accessibilityTootipBox {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  color: transparent;
  font-size: 1rem;
  white-space: pre-wrap;
  padding: 10px;
  line-height: 1 !important;
  width: auto;
  max-width: 50%;
  border-radius: 3px;
  max-height: auto;
  z-index: 45454564;
  overflow: auto;
}

.goog-te-banner-frame {
  display: none !important;
}
#goog-gt-tt {
  display: none !important;
  visibility: hidden !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px transparent !important;
}
