@media (min-width: 768px) and (max-width: 960px) {
  .mobile {
    display: flex !important;
  }
  .desktop {
    display: none !important;
  }
  .color_box:nth-child(10),
  .color_box:nth-child(11) {
    visibility: hidden;
  }
}
@media screen and (max-width: 960px) {
  #scroll_wrapper {
    height: calc(100% - 88px);
  }
  .espace {
    height: 47px;
    font-size: 14px !important;
  }
  #check_fora {
    margin-top: 44px;
    margin-right: -150px;
    z-index: 1;
  }
  #nav_easy {
    max-width: 314px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0px;
    margin-left: -314px;
    top: 0px !important;
    min-height: -webkit-fill-available;
  }
  #botao_easy {
    z-index: 10;
  }
  #icone_easy:hover {
    margin-left: 0px;
  }
  #check_fora {
    margin-top: 24px;
    margin-right: -122px;
    z-index: 1;
  }
  #botao_fechar_easy {
    margin-right: 18px;
  }
  .trazzo {
    left: 123px;
    margin-top: 0.9em;
  }
  [type="range"]::-moz-range-track {
    width: auto;
  }
  .sat_plus,
  .sat_less {
    margin-top: -1.5px;
  }
  .bloco_intermedio__ajuste_voz_navegacao,
  .bloco_intermedio__ajuste_rato,
  .bloco_intermedio__ajuste_cor,
  .bloco_intermedio__ajuste_conteudo,
  .bloco_intermedio__ajuste_fontes,
  .bloco_intermedio__ajuste_cor_personalizada,
  .barra_fundo {
    width: 276px;
  }
  .grid_big_1_mb {
    overflow: hidden;
  }
  .mobile .grid_big_1_mb:nth-child(n) {
    width: 138px;
  }
  .mobile .grid_big_1_mb:nth-child(1) {
    border-top: 2px rgba(15, 78, 100, 0.2) solid;
    border-bottom: 2px rgba(15, 78, 100, 0.2) solid;
    border-left: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .mobile .grid_big_1_mb:nth-child(2) {
    border: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .mobile .grid_big_1_mb:nth-child(3),
  .mobile .grid_big_1_mb:nth-child(5),
  .mobile .grid_big_1_mb:nth-child(7) {
    border-left: 2px rgba(15, 78, 100, 0.2) solid;
    border-bottom: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .vazio_mb {
    border-left: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .mobile .grid_big_1_mb:nth-child(4),
  .mobile .grid_big_1_mb:nth-child(6),
  .mobile .grid_big_1_mb:nth-child(8) {
    border-left: 2px rgba(15, 78, 100, 0.2) solid;
    border-bottom: 2px rgba(15, 78, 100, 0.2) solid;
    border-right: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .bloco_intermedio__ajuste_rato {
    display: none;
  }
  .mobile .grid_small_ponteiro,
  .grid_small_cor_mb:nth-child(n) {
    width: calc(276px / 3);
    overflow: hidden;
    margin-bottom: 16px;
  }
  .mobile .grid_small_ponteiro,
  .grid_small_cor_mb:nth-child(1),
  .mobile .grid_small_ponteiro,
  .grid_small_cor_mb:nth-child(2) {
    border-left: 2px rgba(15, 78, 100, 0.2) solid;
    border-bottom: 2px rgba(15, 78, 100, 0.2) solid;
    border-top: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .mobile .grid_small_ponteiro,
  .grid_small_cor_mb:nth-child(3) {
    border: 2px rgba(15, 78, 100, 0.2) solid;
  }
  .line-break {
    width: 100%;
  }
  .color_box:nth-child(7),
  .color_box:nth-child(8),
  .color_box:nth-child(9) {
    margin-top: 20px;
  }
  .color_box:nth-child(10),
  .color_box:nth-child(11) {
    visibility: hidden;
  }
  #botao_do_teclado_virtual {
    display: none !important;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #scroll_wrapper {
    /* background-color: red !important; */
    height: calc(100% - 88px);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #nav_easy {
    /* background-color: blue !important; */
    height: calc(100vh - 88px);
  }
  #scroll_wrapper {
    height: calc(100% - 88px);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #nav_easy {
    /* background-color: green !important; */
    height: calc(100vh - 88px);
  }
  #scroll_wrapper {
    height: calc(100% - 88px);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #nav_easy {
    /* background-color: yellow !important; */
    height: calc(100vh - 88px);
  }
  #scroll_wrapper {
    height: calc(100% - 88px);
  }
  .barra_fundo {
    margin-bottom: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #nav_easy {
    /* background-color: purple !important; */
    height: calc(100vh - 40px);
  }
  #scroll_wrapper {
    height: calc(100% - 88px);
  }
}
