.input-color {
  position: relative;
  padding-bottom: 20px;
}
.input-color input {
  padding-left: 20px;
}
.input-color .color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}

.ConteudoAmarelo p,
.ConteudoAmarelo span,
.ConteudoAmarelo li {
  color: yellow;
}

.ConteudoVermelho p,
.ConteudoVermelho span,
.ConteudoVermelho li {
  color: red;
}
.ConteudoRosa p,
.ConteudoRosa span,
.ConteudoRosa li {
  color: pink;
}
.ConteudoAzul p,
.ConteudoAzul span,
.ConteudoAzul li {
  color: blue;
}
