.input-color {
  position: relative;
  padding-bottom: 20px;
}
.input-color input {
  padding-left: 20px;
}
.input-color .color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}

.FundoVermelho span,
.FundoVermelho div {
  background-color: red;
}

.FundoAzul span,
.FundoAzul div {
  background-color: blue;
}

.FundoAmarelo span,
.FundoAmarelo div {
  background-color: yellow;
}

.FundoRosa span,
.FundoRosa div {
  background-color: pink;
}
