.ConteudoAmarelo p,
.ConteudoAmarelo span,
.ConteudoAmarelo li {
  color: #feef16;
}

.ConteudoVermelho p,
.ConteudoVermelho span,
.ConteudoVermelho li {
  color: #e4111c;
}
.ConteudoRosa p,
.ConteudoRosa span,
.ConteudoRosa li {
  color: #e40d7d;
}
.ConteudoAzul p,
.ConteudoAzul span,
.ConteudoAzul li {
  color: #06a1dd;
}

.ConteudoPreto p,
.ConteudoPreto span,
.ConteudoPreto li {
  color: #000000;
}

.ConteudoVerde p,
.ConteudoVerde span,
.ConteudoVerde li {
  color: #17963e;
}

.ConteudoRoxo p,
.ConteudoRoxo span,
.ConteudoRoxo li {
  color: #312582;
}

.ConteudoBranco p,
.ConteudoBranco span,
.ConteudoBranco li {
  color: #ffffff;
}
